<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <div>本日銷貨檔共 {{ .FileNumber }}份，各通路分別為：</div>
    <ul>
        <li>官網 {{ .ShoplineOrderNumber }} 筆</li>
        <li>蝦皮 {{ .ShopeeOrderNumber }} 筆</li>
        <li>PayEasy {{ .PayEasyOrderNumber }} 筆</li>
        <li>Amazon {{ .AmazonOrderNumber }} 筆</li>
        <li>Momo {{ .MomoOrderNumber }} 筆</li>
        <li>其他 {{ .OthersOrderNumber }} 筆</li>
    </ul>
    <div>如需下載或瀏覽，再請登入至轉檔中台。</div>
</div>
</body>
</html>